body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

div.hud {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

div#canvas,
canvas {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}
