body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

div.hud {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  border-left: 1px solid #505050;
  border-bottom: 1px solid #505050;
  border-bottom-left-radius: 8px;
  backdrop-filter: blur(4px);
  padding: 8px;

  font-size: 12px;
  line-height: 16px;
}

div#canvas,
canvas {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}
